{% extends "base2.html" %}
{% block title %} home title {% endblock %}
{% block home %}
        <section class="module bg-dark-60 blog-page-header" data-background="../static/images/blog_bg.jpg">
                <h2 class="module-title font-alt">blog grid</h2>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="module-subtitle font-serif">a wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my whole heart.</div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
{% block content %}

                  <div class="col-md-6 col-lg-6">
                    <div class="post">
                      <div class="post-thumbnail"><a href="#"><img src="../static/images/post-masonry-1.jpg" alt="blog-post thumbnail"/></a></div>
                      <div class="post-header font-alt">
                        <h2 class="post-title"><a href="#">shore after the tide</a></h2>
                        <div class="post-meta">by&nbsp;<a href="#">andy river</a>&nbsp;| 11 november | 4 comments
                        </div>
                      </div>
                      <div class="post-entry">
                        <p>a wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my whole heart.</p>
                      </div>
                      <div class="post-more"><a class="more-link" href="#">read more</a></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="post">
                      <div class="post-thumbnail"><a href="#"><img src="../static/images/post-masonry-2.jpg" alt="blog-post thumbnail"/></a></div>
                      <div class="post-header font-alt">
                        <h2 class="post-title"><a href="#">we in new zealand</a></h2>
                        <div class="post-meta">by&nbsp;<a href="#">dylan woods</a>&nbsp;| 5 november | 15 comments
                        </div>
                      </div>
                      <div class="post-entry">
                        <p>a wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my whole heart.</p>
                      </div>
                      <div class="post-more"><a class="more-link" href="#">read more</a></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="post">
                      <div class="post-thumbnail"><a href="#"><img src="../static/images/post-masonry-3.jpg" alt="blog-post thumbnail"/></a></div>
                      <div class="post-header font-alt">
                        <h2 class="post-title"><a href="#">plane in the field</a></h2>
                        <div class="post-meta">by&nbsp;<a href="#">mark stone</a>&nbsp;| 23 november | 3 comments
                        </div>
                      </div>
                      <div class="post-entry">
                        <p>a wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my whole heart.</p>
                      </div>
                      <div class="post-more"><a class="more-link" href="#">read more</a></div>
                    </div>
                  </div>
{% endblock %}